*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1:#C49E61;
    --color2: #000000;
}
.heading{
    color: var(--color1);
    font-family: 'Meow Script', cursive;
    text-shadow: 2px 2px 10px ;
}
.QuestionDiv{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Source Sans 3', sans-serif;
    letter-spacing: 1px;
}
.fa-plus-square{
    color: goldenrod;
    cursor: pointer;
}
.fa-plus-square:hover{
    color: var(--color2);
}

.HideDiscription{
    display: none;
}